*{
    box-sizing: border-box;
}
body{
    margin:0;
}
#htop{
    background-image: url(../img/pattern.png);
    background-color: rgba(78,160,255,255);
    height:120px;
    width:100%;
    position:fixed;
}
#logo{
    width:50%;
    height:80%;
   
}
